@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Raleway:wght@300;400&family=Work+Sans:wght@300&display=swap');


/*Variables*/
:root {
    --backgroundColor: #446168;
    --mainColor: #aaa739;
    --textColor: #fff;
    --hoverColor: #555302;
    --inputBorderColor: #ccc;
    --buttonBackgroundColor: #757208;
}



* {
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'M PLUS 1P', 'Raleway', 'Sans';
}

/*Styling Heading 1*/
h1 {
    font-size: 40px;
    color: var(--mainColor);
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

/*Styling buttons of each pokemon*/
.button-list {
    font-family: inherit;
    font-size: 15px;
    border: 1px solid var(--mainColor);
    margin: 20px;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    text-align: center;
}
.button-list:hover {
    border: 1px solid var(--hoverColor);
    cursor: pointer;
}
.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*Styling the search list and sort button*/
input {
    border: 2px solid var(--inputBorderColor);
    margin: 10px;
    padding: 7px;
    border-radius: 8px;
    font-family: inherit;
}
input:focus {
    outline: none;
    border: 2px solid var(--mainColor);
}
.sort {
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--buttonBackgroundColor);
    color: white;
    font-family: inherit;
}
.sort:hover {
    outline: none;
    background-color: var(--hoverColor);
    cursor: pointer;
}
.search-bar {
    text-align: center;
}