body {
    background-color: lightcyan;
    color: black;
}

.logo {
    width: 100%;
}

p {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.squirtle:hover {
    text-shadow: 2px 2px 5px #004304;
    cursor: pointer;
}