* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    color: black;
    font-weight: 400;
}
/*.pokemon-logo {
    text-align: center;
}*/
.button-list {
    border: 1px solid #353421;
    margin: 20px;
    padding: 12px;
    background-color: white;
    text-align: center;
}